@{
    ViewData["Title"] = "Home Page";
}


<head>
    <div class="text-center">
        <h1 class="display-4">Pet Vet</h1>
    </div>
<link href="~\css\site.css" rel="stylesheet" type="background-image\css">
</head>

<body class="fundo">
    <style>
        .fundo {
  width: 100%;
  height: 100%;
  background-image: url("images/petvet_background_250.jpg");
  background-position: center;
}

html,
body {
  height: 100%;
  width: 100%;
}
    </style>
    <center>
        <img src="images/petvet_banner_750.jpg" alt="banner" align="middle">
    </center>
    <div class="text-center">
        <h2 class="display-5">Clínica 24h</h2>
    </div>
    <div class="text-center">
        <h3 class="display-6">A Pet Vet está sempre pronta para ajudar seu amiguinho a qualquer hora.</h3>
    </div>
</body>
