@{
    ViewData["Title"] = "Serviços";
}

<head>
    <div class="text-center">
        <h1 class="display-4">Pet Vet</h1>
    </div>
    <link href="~\css\site.css" rel="stylesheet" type="background-image\css">
</head>

<body>
    <div class="text-center">
        <h2 class="display-5">Serviços</h2>
    </div>
    <div>
        <ul>
            <li>
                Consultas
                <ul>
                    <li>Consulta Padrão</li>
                    <li>R$ 150,00</li>
                </ul>
            </li>
            <li>
                Exames
                <ul>
                    <li>Exames de Rotina</li>
                    <li>R$ 80,00</li>
                </ul>
            </li>
            <li>Cirurgias
                <ul>
                    <li>Cirurgias de Emergência</li>
                    <li>R$ 250,00</li>
                </ul>
            </li>
            <li>
                Terapias
                <ul>
                    <li>Seção Individual</li>
                    <li>R$ 75,00</li>
                </ul>
            </li>
            <li>
                Fisioterapias
                <ul>
                    <li>Seção Individual</li>
                    <li>R$ 90,00</li>
                </ul>
            </li>
        </ul>
    </div>
</body>